*{
    box-sizing: border-box;
    margin: 1%;
}
h1 {
    text-align: left;
    color: #ffffff;
    font-family: 'Georgia' 'Times New Roman', Times, serif
}
 .box {
    height: 50px;
    position: relative;
    width: 25%;
    background-color: #4aaaa5;
    padding: 50px, 15px, 25px, 25px;
}
h2 {
    text-align: left;
    color: #4aaaa5;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
body {
    color: #0f0808;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #dddddd;
}
#about {
    height: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 100%;
}
